<div class="container" ng-controller="CheckoutCtrl">
	<div class="page-header">
		<h2>CheckOut Page</h2>
	</div>
	<div class="well">
		<table class="table table-stripped">
			<thead>
				<tr>
					<th>Item</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="i in items" ng-if="i.selected != 0">
					<td>{{i.item}}</td>
					<td>Rs.{{i.selected}}</td>
				</tr>
				<tr>
					<td>Total:</td>
					<td>Rs. {{total}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="text-left">
		<a href="#/cart" class="btn btn-danger">Customize</a>
	</div>
</div>